<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>581326886241-rpkm21kb7gs1e99sgqsbtjdn022ocieh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581326886241-rpkm21kb7gs1e99sgqsbtjdn022ocieh</string>
	<key>API_KEY</key>
	<string>AIzaSyBtpt3-23ngOUrpirv4HI24bUbkckvgyr8</string>
	<key>GCM_SENDER_ID</key>
	<string>581326886241</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.angularfirebase.myproject</string>
	<key>PROJECT_ID</key>
	<string>firestarter-96e46</string>
	<key>STORAGE_BUCKET</key>
	<string>firestarter-96e46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581326886241:ios:4b16f190d477f1fa</string>
	<key>DATABASE_URL</key>
	<string>https://firestarter-96e46.firebaseio.com</string>
</dict>
</plist>